body
{
    color:white;
    background:rgb(158, 1, 61)
}

span
{
    font-size:60px;

}

#camera,#result
{
    border: dashed rgb(255, 255, 255);
    width:350px;
    height:300px;

}
#result_gesture_name
{
    color:black;

}

.gesture_name
{
    font-size:40px;
}

.gesture
{
    font-size: 48px;

}

.heading
{
    font-size:21px;
    border-radius:10px;
    letter-spacing:10px;

}

label
{
    font-size:14px;
    color:rgb(6, 255, 93);
    padding:6px;
    border-radius:10px;
    background-color:rgb(18, 88, 18)

}